:root {
    --primary: rgba(245, 245, 245, 0.884);
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #a79f9f85;
    margin: 30px 50px;
    line-height: 1.4;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}


/* navigation bar */

.nav-items ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
}

.nav-items li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.8rem;
    display: block;
    background-color: var(--primary);
    color: var(--dark);
    text-align: center;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    font-weight: dark;
}

.nav-items a:hover {
    background: var(--dark);
    color: var(--light);
}

img {
    max-width: 100%;
}

.top-container {
    display: grid;
    grid-template-areas: 'showcase showcase box-a' 'showcase showcase box-b';
    grid-gap: 20px;
}

.showcase {
    grid-area: showcase;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imggrid/1.jpg);
    max-width: 70rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-height: 400px;
    padding: 3rem;
}

.showcase h1 {
    color: var(--light);
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 550;
}

.showcase p {
    color: var(--light);
    font-size: 0.8rem;
    margin-bottom: 0;
}

.box-a,
.box-b {
    grid-area: box-a;
    background: var(--primary);
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: var(--shadow);
}

.price {
    font-size: 22px;
    font-weight: 600;
}

.box-b {
    grid-area: box-b;
}

.btn {
    color: var(--light);
    background: var(--dark);
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-size: 0.8rem;
    border: 0;
}

.btn:hover {
    background-color: black;
}


/* boxes */

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    text-align: center;
    background: var(--primary);
    padding: 0.6rem;
}

.box p {
    font-size: 0.8rem;
}

.business {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background: var(--primary);
    padding: 1.4rem 1.5rem;
}

.business img {
    object-fit: cover;
    object-position: center;
}

.right p {
    font-size: 0.89rem;
}


/* portfolio */

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.portfolio img {
    width: 100%;
    object-fit: cover;
    box-shadow: var(--shadow);
}


/* footer */

.footer {
    background-color: var(--dark);
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
}

.footer .cr {
    color: var(--primary);
}

@media screen and (max-width:768px) {
    .showcase h1 {
        font-size: 1.7rem;
    }
    .showcase {
        padding: 3rem;
    }
    .top-container {
        grid-template-areas: 'showcase showcase ' 'box-a box-b';
    }
}

@media screen and (max-width:500px) {
    .top-container {
        grid-template-areas: 'showcase' 'box-a' 'box-b';
    }
    .nav-items ul {
        grid-template-columns: 1fr;
    }
    .business {
        grid-template-columns: 1fr;
    }
    .business .btn {
        display: block;
        margin: auto;
        text-align: center;
    }
}